/deploy/core/node_modules/*
/deploy/core/node_modules/clojurescript/cljsDeps/
/target/
/.clj-kondo/.cache/
/src-gen/
/deploy/plugins/
/plugins/*/*_compiled.js
/deploy/core/lighttable/paredit.js
.DS_Store
.lein-deps-sum
.lein-env
.lein-plugins/
.nrepl-port
/builds/
.idea
*.iml
/lsp
/deploy/core/lighttable/bootstrap.js
/deploy/core/lighttable/manifest.edn
/deploy/core/lighttable/user.js
/deploy/core/User/user_compiled.js
/deploy/core/lighttable/bootstrap.js.map
/deploy/core/lighttable/cljs/
/User/
/deploy/core/lighttable/shadow/
/.shadow-cljs/
/node_modules/
/logs/
/deploy/core/logs/
/deploy/core/ltcache/
/target/
/codox/
/deploy/core/lighttable/background/worker.js
/deploy/core/main.js
/deploy/core/main.js.map
/deploy/core/window/
/deploy/core/preload.js
/deploy/core/browserInjection.js
/deploy/core/browserInjection.js.map
/deploy/core/preload.js.map
