{:name "YAML"
 :version "0.1.0"
 :author "Light Table"
 :desc "YAML support, through yaml-language-server."
 :source "https://github.com/TrevorS/LightTable"
 :behaviors "yaml.behaviors"

 ;; None. The editor spawns the language server, not this plugin.
 :capabilities #{}}
